.header {
  background-color: green;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search_form {
  background-color: aqua;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.search_input {
  margin: 0px 10px 0px 10px;
}

.cardlist{
  display: flex;
  justify-content: row;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.movie_card, .search_card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
  gap: 25px;
  border: 1px solid #ebeaec;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 50px;
}

.movie_card > img, .search_card > img{
  width: 230px;
  border-radius: 20px;
}

h1 {
  margin: 70px, 0px;
}

.movie_title, .search_title {
  font-weight: bold;
  font-size: 20px;
}

#a_movie_card {
  text-decoration: none;
  /* 일단 a 태그로 글자색 블루로 떠서 임시로 글자색 블랙으로 처리, 나중에 css로 처리 필요 */
  color: black;
}

#randomP {
  display: none;
}

.search_section {
  display: none;
}

.search_list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: row;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
