       .header {
           background-color: green;
           height: 150px;

           display: flex;
           justify-content: center;
           align-items: center;
       }

       .searchbox {
           background-color: aqua;
           height: 100px;

           display: flex;
           justify-content: center;
           align-items: center;

           border: 1px solid black;
       }

       .input {
           margin: 0px 10px 0px 10px
       }

       .cardlist {
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           justify-items: center;
       }

       .card {

           padding: 20px;
           border-radius: 10px;
           background-color: brown;
           width: 300px;
           margin: 30px 0px 20px 0px;

           align-items: center;
       }

       .card>img {

           width: 300px;
           border-radius: 25px;
       }