body{
  background-color: black;
  color: aliceblue;
}

/* --------------- header ---------------- */

#go_back_btn {
    cursor: pointer;
  }
  
#go_back_btn:hover {
    transform: scale(1.08);
    transition: 0.2s ease;
}

.arrow {
  margin-right: 50px;
}

/* --------------- main ---------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topDetail {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  padding: 30px;
  /* align-items: center; */
  /* align-content: space-around; */
}

.topDetail > img {
  height: 35rem;
  border-radius: 10px;
}

.seconDetail{
  width: 32rem;
  margin-left: 50px;
  flex-direction: column;
}

.topTitle {
  font-size:2.2rem;
  margin-top: 1rem;
}

.topOver {
  font-size: 1.3rem;
  margin-top: 10%;
  line-height : 1.6em;
}

.topDate {
  margin-top: 30px;
  font-size: 1.2rem;
}

.topRate {
  margin-top: 30px;
  font-size: 1.2rem;
  color: yellow;
}

/* --------------- review  ---------------- */

#commentForm {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 15px;
  width: 50rem;
  border-radius: 6px;
  background-color: rgb(20, 19, 19);
}

.reviewbox {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 30px;
}

.reviewbox_title {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-self: center;
    margin: 10px 0 10px 0;
    width: 40rem;
  }

.reviewbox_title > h2 {
  font-size: 2rem;
}

.reviewbox_title > img {
  height: 1.8rem;
}

/* bar icon from <a target="_blank" href="https://icons8.com/icon/prwMhkVkmoLA/vertical-line">Vertical Line</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */

.username_and_pw_box {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  width: 50rem;
}

.username_and_pw_box > label, input:not(:first-child) {
    margin: 5px 10px 5px 10px;
}

.commentbox_and_btn_box {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  width: 50rem;
}

.commentbox_and_btn_box > label, textarea, button:not(:first-child) {
    margin: 5px 10px 5px 10px;
    border-radius: 2px;
}

.commentbox_and_btn_box > button {
  border-radius: 2px;
  width: 16rem;
  height: 2.1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  background-color: yellow;
  color: black;

}

.commentbox_and_btn_box > button:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
  background-color: rgb(28, 26, 26);
  color: yellow;
}

textarea {
    width: 51%;
    height: 2rem;
    border: none;
    resize: none;
    border-radius: 2px;
  }

#commentList > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  width: 50rem;
  height: 15px;
  padding: 10px 0 5px 0;
}

#commentList > li > strong {
  color: rgb(251, 237, 28);
  font-weight: 600;
  margin: 15px;
}

#commentList > li > button{
    border-radius: 2px;
    width: 50px;
    height: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(28, 26, 26);
    color: rgb(53, 53, 53);
}

/* #commentList > li :nth-child(3){
  width: 20rem;
  background-color: white;
  color: red;
} */

#commentList > li > button:nth-child(2){
    margin-left: 5rem;
}

#commentList > li > button:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
  background-color: yellow;
  color: black;
}

.strong_deletebtn {
    border-radius: 2px;
    width: 16rem;
    height: 2.1rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: yellow;
    color: black;
}
/* --------------- footer ---------------- */

#detail_footer {
  height: 10rem;
}